* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.folder > div {
    padding: 0;
    margin: 5px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 5px;
    position: relative;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(250, 235, 215);
}

.folder span {
    position: absolute;
}

.highlight {
    border-radius: 10px;
    background-color: rgba(235, 172, 12, 0.3);
    outline: rgba(235, 172, 12, 0.5) 1px solid;
}

.highlight > div {
    padding: 0;
    margin: 5px;
    opacity: 0.6;
}

.main {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.infoTable {
    right: 0;
    bottom: 0;
    width: 150px;
    height: 50px;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: gray;
    justify-content: space-evenly;
}

.select {
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(235, 172, 12, 0.2);
    outline: rgba(235, 172, 12, 0.5) 1px solid;
}
