* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    height: 100vh;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.body {
    height: 100%;
}

.mesh {
    top: 50px;
    left: 50%;
    z-index: 10;
    position: absolute;
    transform: translate(-50%);
}

.mesh input {
    width: 40px;
    border: none;
    padding: 5px;
    margin: 0 5px;
    border-radius: 10px;
}

.folder {
    width: 100%;
    height: 100%;
}

.folder > div {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    align-items: center;
    align-content: center;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    background-clip: content-box;
    background-color: rgb(250, 235, 215);
}

.folder span {
    position: absolute;
}

.highlight > div {
    opacity: 0.6;
    border-radius: 10px;
    background-color: rgba(235, 172, 12, 0.3);
    outline: rgba(235, 172, 12, 0.5) 1px solid;
}

.main {
    display: flex;
    height: inherit;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-evenly;
}

.infoTable {
    right: 0;
    bottom: 0;
    width: 250px;
    color: white;
    opacity: 0.4;
    height: 100px;
    display: flex;
    position: fixed;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    flex-direction: column;
    border-radius: 20px 0 0 0;
    justify-content: space-evenly;
    background-color: rgba(128, 128, 128);
}

.infoTable:hover {
    opacity: 1;
}

.select {
    z-index: 10;
    position: absolute;
    border-radius: 5px;
    background-color: rgba(235, 172, 12, 0.2);
    outline: rgba(235, 172, 12, 0.5) 1px solid;
}